/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package $class.package;

#foreach($import in $class.classImports)
import $import;
#end
##
##  Add "Abstract"
#if ($class.concrete)
    #set($actualClassname = $class.name)
#else
    #set($actualClassname = "Abstract" + $class.name)
#end
##
##
## Calculate underscore and getter names for each field
#set($underscoreNames = $util.newMap())
#set($getterNames = $util.newMap())
#set($setterNames = $util.newMap())
#set($underscoreNames[$class.wrapperName] = $util.calculateUnderscoreName($class.name))
##
#set($hasWrapperName = !$class.extends.equals("BaseSchema"))
#foreach($field in $class.fields)
    #set($underscoreNames[$field.name] = $util.calculateUnderscoreName($field.name))
    #set($getterNames[$field.name] = $util.calculateGetterName($field.name))
    #set($setterNames[$field.name] = $util.calculateSetterName($field.name))
#end

//CHECKSTYLE:LineLength:OFF
public#if(!$class.concrete) abstract#end class $actualClassname extends $class.extends #if($class.implementsString)implements $class.implementsString #end{
#if ($class.wrapperName)
    public static final String WRAPPER_NAME = "$class.wrapperName";

#end
#foreach($field in $class.fields)
    public static final String ${underscoreNames[$field.name]}_KEY = "$field.key";
#end

#foreach($field in $class.fields)
#if ($field.hasDefault())
    public static final $field.type ${underscoreNames[$field.name]}_DEFAULT = $field.defaultLiteral;
#end
#end

#if (!$class.wrapperName)
    private final String wrapperName;

#end
#foreach($field in $class.fields)
    private $field.type ${field.name}#if($field.hasDefault()) = ${underscoreNames[$field.name]}_DEFAULT#end;
#end

#if ($class.wrapperName)
    public ${actualClassname}() {
#foreach($field in $class.fields)
#if ($class.isSchema($field.type))
        $field.name = new ${field.type}();
#end
#end
    }

    public ${actualClassname}(Map map) {
#else
    public ${actualClassname}(Map map, String wrapperName) {
        this.wrapperName = wrapperName;
#end
#foreach($field in $class.fields)
#if ($field.type.equals("int"))
#set($extraConvert = ".intValue()")
#elseif ($field.type.equals("long"))
#set($extraConvert = ".longValue()")
#else
#set($extraConvert = "")
#end
#if ($class.isSchema($field.type))
        $field.name = getMapAsType(map, ${underscoreNames[$field.name]}_KEY, ${field.mapType}.class, getWrapperName(), $field.required);
        addIssuesIfNotNull($field.name);
#elseif ($field.enum)
#if ($field.hasDefault())
        String ${field.name}String = getOptionalKeyAsType(map, ${underscoreNames[$field.name]}_KEY, String.class, getWrapperName(), ${underscoreNames[$field.name]}_DEFAULT);
#else
        String ${field.name}String = getOptionalKeyAsType(map, ${underscoreNames[$field.name]}_KEY, String.class, getWrapperName(), null);
#end
        if (${field.name}String != null) {
            try {
                $field.name = ${field.type}.valueOf(${field.name}String);
            } catch (IllegalArgumentException e) {
                addValidationIssue(${underscoreNames[$field.name]}_KEY, getWrapperName(), "it is not a valid ${field.type}");
            }
        }
#else
#if ($field.hasDefault())
        $field.name = getOptionalKeyAsType(map, ${underscoreNames[$field.name]}_KEY, ${field.mapType}.class, getWrapperName(), ${underscoreNames[$field.name]}_DEFAULT)$extraConvert;
#elseif (!$field.required)
        $field.name = getOptionalKeyAsType(map, ${underscoreNames[$field.name]}_KEY, ${field.mapType}.class, getWrapperName())$extraConvert;
#else
#if ($field.type.equals("String"))
        $field.name = getOptionalKeyAsType(map, ${underscoreNames[$field.name]}_KEY, ${field.mapType}.class, getWrapperName(), "");
#else
        $field.name = getOptionalKeyAsType(map, ${underscoreNames[$field.name]}_KEY, ${field.mapType}.class, getWrapperName(), null)$extraConvert;
#end
#end
#end
#end
    }

    protected String getWrapperName() {
        return#if ($class.wrapperName) WRAPPER_NAME#else wrapperName#end

#foreach($field in $class.fields)
            .replace("{$field.name}", String.valueOf($field.name))#if (!$foreach.hasNext);#end

#end
    }
#if ($class.writable && $class.fields.size() > 0)

    @Override
    public Map<String, Object> toMap() {
        Map<String, Object> result = mapSupplier.get();
#foreach($field in $class.fields)
#if ($field.enum)
        if ($field.name != null) {
            result.put(${underscoreNames[$field.name]}_KEY, ${field.name}.name());
        }
#elseif ($class.isSchema($field.type))
        putIfNotNull(result, ${underscoreNames[$field.name]}_KEY, $field.name);
#else
        result.put(${underscoreNames[$field.name]}_KEY, $field.name);
#end
#end
        return result;
    }
#foreach($field in $class.fields)

    public $field.type ${getterNames[$field.name]}() {
        return $field.name;
    }

    public void ${setterNames[$field.name]}($field.type $field.name) {
        this.$field.name = $field.name;
    }
#end
#end

    @Override
    public List<String> getValidationIssues() {
        List<String> validationIssues = new ArrayList<>(super.getValidationIssues());
#foreach($field in $class.fields)
#if ($field.required)
#if ($field.type.equals("String"))
        if (StringUtil.isNullOrEmpty($field.name)) {
#else
        if ($field.name == null) {
#end
            validationIssues.add(getIssueText(${underscoreNames[$field.name]}_KEY, getWrapperName(), IT_WAS_NOT_FOUND_AND_IT_IS_REQUIRED));
        }#if ($field.validator) else {
            String validation = ${field.validator}($field.name);
            if (validation != null) {
                validationIssues.add(getIssueText(${underscoreNames[$field.name]}_KEY, getWrapperName(), validation));
            }
        }
#else

#end
#elseif ($field.validator)
        String validation = ${field.validator}($field.name);
        if (validation != null) {
            validationIssues.add(getIssueText(${underscoreNames[$field.name]}_KEY, getWrapperName(), validation));
        }
#end
#end
        Collections.sort(validationIssues);
        return validationIssues;
    }
}
//CHECKSTYLE:LineLength:ON